<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      Países
    </mat-toolbar>
    <hr>
    <mat-nav-list>
      <div *ngIf="(isHandset$ | async);else noToggle">
        <!-- //! Demostracion de router -->
        <a mat-list-item routerLink="countries/by-capital" routerLinkActive="active" (click)="drawer.toggle()">
          Por Capital
        </a>
        <a mat-list-item routerLink="countries/by-country" routerLinkActive="active" (click)="drawer.toggle()">
          Por Pàís
        </a>
        <a mat-list-item routerLink="countries/by-region" routerLinkActive="active" (click)="drawer.toggle()">
          Por Región
        </a>
      </div>
      <ng-template #noToggle>
        <!-- //! Demostracion de router -->
        <a mat-list-item routerLink="countries/by-capital" routerLinkActive="active">Por Capital</a>
        <a mat-list-item routerLink="countries/by-country" routerLinkActive="active">Por País</a>
        <a mat-list-item routerLink="countries/by-region" routerLinkActive="active">Por Región</a>
      </ng-template>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Country App</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>